/.idea/

/vendor/

box.json

tab-transfer.phar

/var/
/node_modules/

.editorconfig

tabs.json
tabs-gist.md
tabs-reopen.sh

# TODO: Find pattern for \d
tabs*.json
tabs*-gist.md
tabs*-reopen.sh
wdp_client.html

/tools/*
!/tools/*.cmd
