/.idea/

/vendor/

tabs.json
tabs-gist.md
tabs-reopen.sh

box.json

tab-transfer.phar

/var/
/node_modules/

.editorconfig

# TODO: Find pattern for \d
tabs*.json
tabs*-gist.md
tabs*-reopen.sh

/tools/
